
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 10px;
}

.nav-transparent {
  position: absolute;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}

.nav-li-white {
  color: white!important;
}

.boader-none {
  border: none;
}

.nav-li-white:hover {
  color: #d6a77e!important;
}

.icon-width {
  width: 50px;
}

.btn-color-brown {
  background-color: #998675;
  border-color: #998675;
  padding: 10px 30px;
}

.btn-color-brown:hover {
  background-color: #a0754f;
  border-color: #a0754f;
}

.main-font-big {
  font-size: 35px;
}

.main-font-big-bold {
  font-size: 50px;
  font-weight: bold;
}

.bg-wheat {
  background-color: rgb(251, 250, 248);
}

.fa-small {
  padding: 12px;
  margin-left: 10px;
}