
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 10px;
}

.nav-transparent {
  position: absolute;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}

.nav-li-white {
  color: white!important;
}

.boader-none {
  border: none;
}

.nav-li-white:hover {
  color: #d6a77e!important;
}

.icon-width {
  width: 50px;
}

.btn-color-brown {
  background-color: #998675;
  border-color: #998675;
  padding: 10px 30px;
  box-shadow: 0px 3px rgb(115,99,86);
}

.btn-color-brown:hover {
  background-color: #a0754f;
  border-color: #a0754f;
}

.main-font-big {
  font-size: 35px;
}

.main-font-big-bold {
  font-size: 50px;
  font-weight: bold;
}

.bg-wheat {
  background-color: rgb(251, 250, 248);
}

.bg-gradient {
  background-image: linear-gradient(to right, rgb(33,28,25) , rgb(78,52,39));
}

.text-brown {
  color: rgb(78,68,66);
}

.text-light-brown {
  color: rgb(199,177,153);
}

.fa-small {
  padding: 12px;
  margin-left: 10px;
}

.btn-outline-brown {
  margin: 20px 5px;
  border-color: #998675;
}

.btn-outline-brown:hover {
  background-color: #998675;
  color: white;
}

.ig-width {
  max-width: 100%;
  height: auto;
}

.ig-highlight:hover {
  cursor: pointer;
  background-color: rgb(55,47,45);
}

.ig-highlight:hover h4 {
  color: white;
}

.ig-highlight:hover p {
  color: rgb(199,177,153);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.ig-effect {
  /*position: relative;*/
}

.ig-highlight:hover .overlay {
  opacity: 0.7;
}

.ig-icon {
  position: absolute;
  top: 40%;
  left: 40%;
}

@media only screen and (max-width: 768px) {
  .d-flex {
    display: inline-block!important;
  }
}