
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 10px;
}

.nav-transparent {
  position: absolute;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}

.nav-li-white {
  color: white!important;
}

.boader-none {
  border: none;
  background-color: transparent;
}

.nav-li-white:hover {
  color: #d6a77e!important;
}

.icon-width {
  max-width: 100%;
}

.icon-highlight:hover {
  cursor: pointer;
}

.icon-highlight:hover h4 {
  color: #d6a77e;
}

.icon-highlight:hover span {
  color: #d6a77e;
}

.btn-color-brown {
  background-color: #998675;
  border-color: #998675;
  padding: 10px 30px;
  box-shadow: 0px 3px rgb(115,99,86);
}

.btn-color-brown:hover {
  background-color: #a0754f;
  border-color: #a0754f;
}

.main-font-big {
  font-size: 35px;
}

.main-font-big-bold {
  font-size: 50px;
  font-weight: bold;
}

.bg-wheat {
  background-color: rgb(251, 250, 248);
}

.bg-gradient {
  background-image: linear-gradient(to right, rgb(33,28,25) , rgb(78,52,39));
}

.text-brown {
  color: rgb(78,68,66);
}

.text-light-brown {
  color: rgb(199,177,153);
}

.fa-small {
  padding: 12px;
  margin-left: 10px;
}

.btn-outline-brown {
  margin: 20px 5px;
  border-color: #998675;
}

.btn-outline-brown:hover {
  background-color: #998675;
  color: white;
}

.ig-width {
  max-width: 100%;
  height: auto;
}

.ig-highlight:hover {
  cursor: pointer;
  background-color: rgb(55,47,45);
}

.ig-highlight:hover h4 {
  color: white;
}

.ig-highlight:hover p {
  color: rgb(199,177,153);
}

.ig-highlight:hover a {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.ig-effect {
  position: relative;
}

.ig-highlight:hover .overlay {
  opacity: 0.6;
}

.ig-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-main {
  position: relative;
}

.video-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.video-highlight:hover{
  cursor: pointer;
}

.video-highlight:hover .video-button {
  display: block;
}

.video-highlight:hover .overlay {
  opacity: 0.6;
}

.video-highlight:hover .text-color-white {
  color: white;
}

.video-back {
  max-width: 100%;
  height: auto;
}

.li-icon {
  list-style: none;
  background: url('../image/li-icon.png') no-repeat left center;
  height: auto;
  padding-left: 50px;
  padding-top: 0px;
  margin-top: 5px;
}

.bg-black {
  background-color: black;
}

.text-light-white {
  color: #959595;
}

.col-md-five {
  max-width: 20%;
  width: 100%;
}

.btn-date {
  position: absolute;
  top: 20px;
  left: 20px;
}

.ig-highlight:hover .btn-day {
  background-color: rgb(199,177,153);
  z-index: 30;
}

.ig-highlight:hover .btn-month {
  background-color: rgb(161,141,115);
  z-index: 30;
}

.btn-day {
  background-color: rgb(54,54,54);
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: x-large;
}

.btn-month {
  background-color: rgb(37,37,37);
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
}

.btn-arrow {
  color: wheat;
  font-size: 30px;
}

.footer-main {
  padding: 40px 0;
  color: rgb(86, 86, 86);
}

.footer-main p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .d-flex {
    display: inline-block!important;
  }

  .video-highlight:hover p.disappear {
    display: none;
  }

  .col-md-five {
    max-width: 100%;
  }
}

@media only screen and (max-width: 512px) {
  .video-highlight:hover h2.disappear {
    display: none;
  }
}
